.movies-card-list {
  padding: 80px 0 60px;
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-template-columns: minmax(300px, 364px) minmax(300px, 364px) minmax(
      300px,
      364px
    );
  column-gap: 24px;
  row-gap: 37px;
}

.load-more-btn {
  box-sizing: border-box;
  z-index: 1;
  padding: 10px 0;
  width: 100%;
  border-radius: 6px;
  background: #2f2f2f;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.load-more-btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .movies-card-list {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: max-content;
    margin: 0 auto;
    padding-bottom: 80px;
  }

  .load-more-btn {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 767px) {
  .movies-card-list {
    grid-template-columns: 1fr;
    gap: 14px;
    padding-top: 50px;
  }
}
