.about-project {
  padding: 110px 70px;
}

.about-project__text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto max-content;
  margin-top: 70px;
  grid-auto-flow: column;
  row-gap: 26px;
  column-gap: 30px;
}

.about-project__subtitle {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0;
}

.about-project__timeline-container {
  margin: 110px 0 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto;
  row-gap: 14px;
}

.about-project__timeline-item {
  text-align: center;
  color: #8b8b8b;
}
.about-project__timeline-item_padded {
  line-height: 36px;
}

.about-project__timeline-item:nth-of-type(1) {
  background: #3ddc84;
  color: #000;
}

.about-project__timeline-item:nth-of-type(2) {
  background: #303030;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__timeline-container {
    margin-top: 93px;
  }

  .about-project__timeline-item {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}

@media screen and (max-width: 650px) {
  .about-project {
    padding: 70px 18px;
  }

  .about-project__text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
  }

  .about-project__subtitle {
    margin-top: 40px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .about-project__timeline-container {
    margin-top: 60px;
    grid-template-columns: 10fr 18fr;
  }

  .about-project__timeline-item {
    font-size: 11px;
  }
}
