.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: auto;
  padding: 25px 0 20px;
  max-height: 100vh;
}

.register__text {
  color: #8b8b8b;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.register__link {
  color: #4285f4;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.register__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 450px) {
  .register {
    height: 100vh;
    gap: 14px;
    padding: 25px 30px 30px;
    width: 100vw;
    box-sizing: border-box;
  }

  .register__text {
    font-size: 12px;
    line-height: normal;
  }
}
