.login {
  display: flex;
  height: 100%;
  min-height: 680px;
  flex-direction: column;
}

.login__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: auto;
  padding: 20px 0 20px;
  box-sizing: border-box;
  width: 100%;
}

.login__subtitle-wrapper {
  display: flex;
  gap: 6px;
}

.login__text {
  color: #8b8b8b;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 auto;
}

.login__link {
  color: #4285f4;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.login__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 450px) {
  .login {
    gap: 14px;
    padding: 25px 30px 10px;
    box-sizing: border-box;
  }

  .login__wrapper {
    height: 100%;
    gap: 4px;
  }

  .login__text {
    font-size: 12px;
    line-height: normal;
  }
}
